.fromwebp-icon {
  height: 378.6px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  min-width: 312px;
  min-height: 379px;
}
.heading-12 {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 48px;
  font-weight: 700;
  font-family: inherit;
}
.earn-money-by,
.friends-and-family {
  display: block;
}
.earn-money-by-container {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 24px;
}
.hero-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3px 0 2px;
  font-size: 16px;
  color: #212529;
}
.heading-1-become-an-affiliat-parent,
.hero-content1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-1-become-an-affiliat-parent {
  align-self: stretch;
  gap: 7.5px;
}
.hero-content1 {
  flex: 1;
  padding: 129.3px 0 0;
  box-sizing: border-box;
  min-width: 305px;
  max-width: 100%;
}
.towebp-icon {
  height: 378.6px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: contain;
  min-width: 312px;
}
.background12 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 48px 312px;
  box-sizing: border-box;
  gap: 28.5px;
  background-image: url(/public/background3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 100%;
  margin-top: -1px;
  text-align: center;
  font-size: 40px;
  color: #ba247e;
  font-family: Montserrat;
}
@media screen and (max-width: 1050px) {
  .background12 {
    padding-left: 156px;
    padding-right: 156px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .heading-12 {
    font-size: 32px;
    line-height: 38px;
  }
  .background12 {
    padding-left: 78px;
    padding-right: 78px;
    padding-bottom: 31px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .heading-12 {
    font-size: 24px;
    line-height: 29px;
  }
}
