.how-it-works1 {
  position: relative;
  line-height: 48px;
  font-weight: 700;
  display: inline-block;
  min-width: 13px;
}
.background5 {
  height: 136px;
  border-radius: 20px 0 0 20px;
  background-color: #ba247e;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19.5px 23px 19px;
  box-sizing: border-box;
}
.heading-56 {
  position: relative;
  line-height: 24px;
}
.choose-the-duration1,
.you-need {
  margin: 0;
}
.choose-the-duration-container1 {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}
.how-it-works-content-items,
.how-it-works-content-items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.how-it-works-content-items {
  align-self: stretch;
  gap: 7.5px;
}
.how-it-works-content-items-wrapper {
  flex: 1;
  padding: 20px 0 0;
  box-sizing: border-box;
  min-width: 205px;
  text-align: left;
  font-size: 20px;
  color: #000;
}
.how-it-works-step1webp-icon {
  height: 150px;
  width: 150px;
  position: absolute;
  margin: 0 !important;
  right: 103px;
  bottom: -123px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.b,
.background4 {
  position: relative;
}
.background4 {
  flex: 0.9519;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 20px 0 0;
  box-sizing: border-box;
  gap: 20px;
  min-width: 312px;
  max-width: 100%;
}
.b {
  flex: 1;
  line-height: 48px;
  font-weight: 700;
  display: inline-block;
  min-width: 19.2px;
}
.background7 {
  height: 112px;
  width: 60px;
  border-radius: 20px 0 0 20px;
  background-color: #ba247e;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19.5px 20px 19px;
  box-sizing: border-box;
}
.heading-57,
.the-setup-takes {
  position: relative;
  line-height: 24px;
}
.the-setup-takes {
  font-size: 16px;
  color: #212529;
}
.configuration-container,
.configuration-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.configuration-title {
  gap: 8px;
}
.configuration-container {
  padding: 20px 0 0;
  text-align: left;
  font-size: 20px;
  color: #000;
}
.how-it-works-step2webp-icon {
  height: 150px;
  width: 150px;
  position: absolute;
  margin: 0 !important;
  top: -123px;
  right: 123.6px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.background6,
.configuration {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.background6 {
  align-self: stretch;
  border-radius: 20px;
  background-color: #fff;
  flex-direction: row;
  position: relative;
  gap: 20px;
}
.configuration {
  flex: 1;
  flex-direction: column;
  padding: 105px 0 0;
  box-sizing: border-box;
  min-width: 312px;
  max-width: 100%;
}
.b1 {
  flex: 1;
  position: relative;
  line-height: 48px;
  font-weight: 700;
  display: inline-block;
  min-width: 19.3px;
}
.background9 {
  height: 136px;
  width: 60px;
  border-radius: 20px 0 0 20px;
  background-color: #ba247e;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 19.5px 20px 19px;
  box-sizing: border-box;
}
.heading-58 {
  position: relative;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  min-width: 100px;
}
.and-enjoy-your,
.enable-roaming-on {
  display: block;
}
.enable-roaming-on-container {
  margin: 0;
  position: relative;
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}
.background-inner,
.heading-5-go-online-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.heading-5-go-online-parent {
  align-self: stretch;
  gap: 7.5px;
}
.background-inner {
  flex: 1;
  padding: 20px 0 0;
  box-sizing: border-box;
  min-width: 203px;
  text-align: left;
  font-size: 20px;
  color: #000;
}
.how-it-works-step2webp-icon1 {
  height: 150px;
  width: 150px;
  position: absolute;
  margin: 0 !important;
  right: 103px;
  bottom: -123px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.background8 {
  flex: 0.9447;
  border-radius: 20px;
  background-color: #fff;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 23px 0 0;
  position: relative;
  gap: 20px;
  min-width: 312px;
}
.background3,
.background8,
.how-it-works {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.background3 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 95px 312px;
  gap: 24px;
  background-image: url(/public/background2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  z-index: 1;
}
.how-it-works {
  height: 281.4px;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 281px 0 0;
  margin-left: -1920px;
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-family: Montserrat;
}
@media screen and (max-width: 1800px) {
  .background3 {
    flex-wrap: wrap;
  }
  .how-it-works {
    height: auto;
  }
}
@media screen and (max-width: 1350px) {
  .background3 {
    padding-left: 156px;
    padding-right: 156px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 925px) {
  .how-it-works1 {
    font-size: 26px;
    line-height: 38px;
  }
  .background4 {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    flex: 1;
  }
  .b {
    font-size: 26px;
    line-height: 38px;
  }
  .background6 {
    flex-wrap: wrap;
  }
  .b1 {
    font-size: 26px;
    line-height: 38px;
  }
  .background8 {
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
    flex: 1;
  }
  .background3 {
    padding-left: 78px;
    padding-right: 78px;
    box-sizing: border-box;
  }
  .how-it-works {
    padding-top: 281px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .how-it-works1 {
    font-size: 19px;
    line-height: 29px;
  }
  .heading-56 {
    font-size: 16px;
    line-height: 19px;
  }
  .b {
    font-size: 19px;
    line-height: 29px;
  }
  .heading-57 {
    font-size: 16px;
    line-height: 19px;
  }
  .b1 {
    font-size: 19px;
    line-height: 29px;
  }
  .heading-58 {
    font-size: 16px;
    line-height: 19px;
  }
  .background3 {
    padding-top: 281px;
    padding-bottom: 62px;
    box-sizing: border-box;
  }
}
