.link-logosvg1 {
  align-self: stretch;
  height: 35px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.logo1 {
  width: 86px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 24px 0 0;
  box-sizing: border-box;
}
.item-link4 {
  display: inline-block;
  min-width: 46px;
}
.english1,
.item-link4,
.item-link5 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
}
.item-link5 {
  width: 58px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  min-width: 58px;
}
.english1 {
  flex: 1;
  display: inline-block;
  min-width: 60.1px;
}
.auth-items {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15.5px;
  text-align: left;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  font-family: Montserrat;
}
.auth1,
.border2 {
  box-sizing: border-box;
}
.auth1 {
  margin: 0;
  width: 198.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 3px 0 0;
}
.border2 {
  width: 8px;
  height: 4px;
  position: relative;
  border-top: 4px solid rgba(0, 0, 0, 0.65);
  border-right: 4px solid rgba(0, 0, 0, 0.65);
  border-left: 4px solid rgba(0, 0, 0, 0.65);
}
.navbar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14.4px 16px 0 0;
}
.usd1 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 36px;
}
.border3,
.navbar1 {
  box-sizing: border-box;
}
.navbar1 {
  width: 39.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 3px 0 0;
}
.border3 {
  width: 8px;
  height: 4px;
  position: relative;
  border-top: 4px solid rgba(0, 0, 0, 0.65);
  border-right: 4px solid rgba(0, 0, 0, 0.65);
  border-left: 4px solid rgba(0, 0, 0, 0.65);
}
.navbar2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 14.4px 16px 0 0;
}
.item-link6 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 58.4px;
  white-space: nowrap;
}
.navbar3 {
  width: 741.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 20px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.svg-icon1 {
  width: 20px;
  height: 20px;
  position: relative;
}
.icon1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.4px 0 0;
}
.search-destination1 {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  white-space: nowrap;
}
.nav1,
.navbar4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
}
.nav1 {
  align-self: stretch;
  background-color: #fff;
  flex-direction: row;
  justify-content: center;
  padding: 13px 20px;
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.65);
  font-family: Montserrat;
}
@media screen and (max-width: 1350px) {
  .auth1 {
    display: none;
  }
}
@media screen and (max-width: 925px) {
  .auth-items {
    display: none;
  }
  .auth1 {
    width: 3.700000000000017px;
  }
}
